<main class="container">
  <div class="col-md-6 offset-md-3">
    <div class="d-flex justify-content-between align-items-center my-4">
      <h1 class="h3">
        All items
      </h1>
      <%= link_to "New item",
                  new_item_path,
                  class: "btn btn-primary",
                  data: { turbo_frame: "modal" } %>
    </div>

    <div id="items" class="d-flex flex-column gap-3">
      <%= render @items %>
    </div>
  </div>
</main>
